# Development-only authentication. This is ignored when NODE_ENV=production.
AUTH_DEV_LOGIN_ENABLED=false

TELEMETRY_CONSOLE_ENABLED=false

# Database authentication details
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

CLOUDBEAVER_ADMIN_NAME=
CLOUDBEAVER_ADMIN_PASSWORD=
