{
  "folders": {},
  "connections": {
    "music-practice-buddy-postgres": {
      "provider": "postgresql",
      "driver": "postgres-jdbc",
      "name": "Music Practice Buddy",
      "save-password": true,
      "configuration": {
        "host": "postgres",
        "port": "5432",
        "database": "${POSTGRES_DB}",
        "url": "jdbc:postgresql://postgres:5432/${POSTGRES_DB}",
        "configurationType": "MANUAL",
        "type": "dev",
        "closeIdleConnection": true,
        "user": "${POSTGRES_USER}",
        "password": "${POSTGRES_PASSWORD}",
        "bootstrap": {
          "autocommit": true
        }
      }
    }
  }
}